<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361510114529-p4v1gqhe7pka0k0no6mo1m1fe9hde1f8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361510114529-p4v1gqhe7pka0k0no6mo1m1fe9hde1f8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>361510114529-6837p745qeqkgcst5pmc3ckjvi3oj6i6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcvCO_2b7zrMp4ah1lJjjcuGEVEGSx0VU</string>
	<key>GCM_SENDER_ID</key>
	<string>361510114529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.origin</string>
	<key>PROJECT_ID</key>
	<string>origin-2e349</string>
	<key>STORAGE_BUCKET</key>
	<string>origin-2e349.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361510114529:ios:cbee9bcd959a2a9e87d3a0</string>
	<key>DATABASE_URL</key>
	<string>https://origin-2e349-default-rtdb.firebaseio.com</string>
</dict>
</plist>